body {

    background-color: powderblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color:coral;
}
h2 {
    color: black;
}
h3 {
    color: black;
}
h4 {
    color: black;
}
p {
    color:darkslategray;
    font-size: medium;
    font-style: italic;
    font-weight: bold;
    border: 1px solid darkslategray;
    padding: 5px;
    margin: 1px;
}
ul {
    border: 2px solid cadetblue;
    padding: 15px;
    margin: 2px;
}
li {
    margin: 15px;
}
figcaption {
    font-size: small;
}