body {

    background-color: powderblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color:coral;
}
h1.text {
    color: aqua;
}
h2 {
    color: black;
}
h3 {
    color: black;
}
h4 {
    color: black;
}
/* p.text är en specifik klass för Paragrafer och kopplas med <p class="text"></h> */
p.text {
    color:darkslategray;
    font-size: medium;
    font-style: italic;
    font-weight: bold;
    border: 1px solid darkslategray;
    padding: 5px;
    margin: 1px;
    width: 400px;
}
ul {
    border: 2px solid rgb(109, 124, 124);
    width: 150px;
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 2px;
}
li {
    margin: 10px;
    font-weight: bold;
}
/* li.twitch är en specifik klass för en rad i en Lista och kopplas med <li class="twitch"></li> */
li.twitch {
    background-color: blueviolet;
    color: blueviolet;
}
img {
    border: 2px solid black;
    min-width: 10%;
    max-width: 256px;
}
figcaption {
    font-size: small;
}
/* centrerar objekt med hjälp av class="" */
.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}