
body {
    background-color:lightgrey;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

p {
    text-align: center;
    font-size: large;
}

.text-center {
    text-align: center;
}

.center {                                       /* klass som centrerar objekt */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    }
    
.menu {
        background-color: rgb(92, 23, 23);
        overflow: hidden;
}
        
.menu a {
        display: block;
        float: left;
        color: white;
        border-right: 2px solid white;
        font-size: large;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
        text-decoration: none;
}

.menu a:hover {
        background-color: rgb(160, 93, 93);
        color: white;
}
        
ol {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 2px solid rgb(255, 124, 124);
    background-color: rgb(189, 189, 189);
    width: 150px;
    padding: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
  
li {
    margin: 8px;
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
    padding: 5px;
}

img.aSpin {                                     /* alla bilder med klassen 'aSpin' har denna @keyframe animationen */
    animation-name: aSpin;                      /* namn på keyframe (animation) att använda */
    animation-duration: 8s;                     /* hur länge animationen pågår */
    animation-direction: normal;                /* vilket håll bilden ska rotera */
    animation-timing-function: linear;          /* bestämmer att den ska snurra jämnt och inte "east-out" */
    animation-iteration-count: infinite;        /* antalet gånger animationen ska upprepas (infinite = oändligt) */
}

@keyframes aSpin {                              /* namn på animationen ('aSpin') - Snurr effekt av bild */ 
    100% {                                      /* 100% av animationen */
        transform: rotate(360deg);              /* roterar bilden 360grader. Antal varv ändras i klassen ovan. Kan även använda (1turn) */
    }
}

img.transition {                                /* alla bilder med klassen 'transition' har denna animation */
    width: 40%;                                 /* utgår från variabeln "width" på bilden */
    transition-property: width;                 /* vilken variabel 'transition' (animationen) ska beröra */
    transition-duration: 0.7s;                  /* hur länge animationen pågår, 0 = insta */
    transition-delay: 0s;                       /* hur länge innan animationen början, 0 = insta */
}

img.transition:hover {
    width: 43%;                                 /* hur bred bilden blir när animationen är färdig, (när man tar muspekaren över bilden) */
}

img.logo {                                      /* specifik klass för logo-bilden */
    border: 1px solid black;
    width: 260px;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.food {                                      /* specifik klass för mat-bilderna */
    border: 2px solid black;
    width: 32%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    font-size: medium;
    font-weight: bold;
    text-align: center;
    padding-top: 0px;
}

.link {
    display: block;
    color: black;
    text-decoration: none;
    font-size: x-large;
    text-align: center;
}

.link:hover {
    display: block;
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

@media only screen and (max-width:500px) {

}